#include "../MemoryAreaTemplate.h"

#ifndef MEMORY_{{ memory_area.name }}_GUARD
#define MEMORY_{{ memory_area.name }}_GUARD    

class {{ memory_area.classname }}: public MemoryAreaTemplate {
public:
    esp_err_t Initialize(void) override {
        this->index = {{ memory_area.name }};
        this->data = new uint8_t[{{ memory_area.size }}];
        this->size = {{ memory_area.size }};
        this->access_type = {{ memory_area.access_type }};
        this->cached_time = {{ memory_area.cached_time }};
        this->has_update = false;
        this->mutex_ = xSemaphoreCreateMutex();
        memset_s(this->data, 0, this->size);

        return ESP_OK;
    }
};

#endif /* MEMORY_{{ memory_area.name }}_GUARD  */
